<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="supper">
      <div class="dropdown-list">
        <div id="content" style="color: #0075c0">Sửa</div>
        <div class="dropdown">
          <div class="item-dropdown"></div>
        </div>
      </div>
      <div id="tbList-drop" class="body-selector-drop hiden">
        <ul class="placehold" id="list-drop">
          <li class="option-drop placehold">Nhân bản</li>
          <li class="option-drop placehold">Sửa</li>
          <li class="option-drop placehold">Ngừng sử dụng</li>
        </ul>
      </div>
    </div>
  </body>
  <script src="/js/dropdown.js"></script>
</html>
